{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
          <iframe class="googlemap" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=CER+fondary-commerce+46+rue+du+Fondary+75015+PARIS&amp;aq=&amp;sll=48.84718,2.295381&amp;sspn=0.00639,0.010139&amp;vpsrc=6&amp;g=46+Rue+Fondary,+75015+Paris,+%C3%8Ele-de-France&amp;ie=UTF8&amp;hq=CER+fondary-commerce+46+rue+du+Fondary+75015+PARIS&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=48.851444,2.296228&amp;spn=0.009884,0.018239&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        </div>
        <div class="line-break"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-lg-2"><span class="glyphicon glyphicon-phone-alt green"></span> &nbsp; Téléphone
                    <div>01 45 75 27 18</div>
                    <div>Agrément E127533210</div>
                </div>
                <div class="hidden-lg line-break"></div>
                <div class="col-md-3 col-lg-3">Métro
                    <div><img src="{{ asset('metro_ligne_6.gif') }}"/> <img src="{{ asset('metro_ligne_8.gif') }}"/>&nbsp;La Motte-Picquet-Grenelle</div>
                    <div class="hidden-sm hidden-xs line-break"></div>
                    <div><img src="{{ asset('metro_ligne_10.gif') }}"/>&nbsp;Avenue Emile Zola</div>
                </div>
                <div class="hidden-lg line-break"></div>
                <div class="col-md-5 col-lg-5"><span class="glyphicon glyphicon-time green"></span> &nbsp; Horaires d'ouverture d'agence
                  <div>
                      <div class="col-lg-2">Lundi</div><div class="col-lg-5 col-xs-6">10:00 - 12:00</div><div class="col-lg-5 col-xs-6">14:00 - 19:00</div>
                      <div class="col-lg-2">Mardi</div><div class="col-lg-5 col-xs-6">10:00 - 12:00</div><div class="col-lg-5 col-xs-6">14:00 - 18:00</div>
                      <div class="col-lg-2">Mercredi</div><div class="col-lg-5 col-xs-6">&nbsp;</div><div class="col-lg-5 col-xs-6">14:00 - 19:00</div>
                      <div class="col-lg-2">Jeudi</div><div class="col-lg-5 col-xs-6">10:00 - 12:00</div><div class="col-lg-5 col-xs-6">14:00 - 18:00</div>
                      <div class="col-lg-2">Vendredi</div><div class="col-lg-5 col-xs-6">10:00 - 12:00</div><div class="col-lg-5 col-xs-6">14:00 - 19:00</div>
                      <div class="col-lg-2">Samedi</div><div class="col-lg-5 col-xs-6">10:00 - 12:00</div><div class="col-lg-5 col-xs-6">13:00 - 17:00</div>
                      <div class="col-xs-12">Dimanche fermé</div>
                      <div>&nbsp;</div>
                      <div class=""><span class="glyphicon glyphicon-time green"></span> &nbsp; Horaires conduite
                          <div class="col-lg-12">Du lundi au vendredi de 8h à 20h</div>
                          <div class="col-lg-12">Samedi de 8h à 17h</div>
                          <div class="col-lg-12">Dimanche fermé</div>
                      </div>
                  </div>
                </div>
                <div class="visible-xs line-break"></div>
                <div class="visible-lg"></div>

            </div>
        </div>
    </div>



{% endblock %}

