{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="h3">Nos solutions de financement</div>
        <div class="text-justify">
            Nous sommes conscients que le financement d'un permis de conduire peut parfois représenter un coût non
            négligeable.
            C'est pour cela que nous vous proposons des facilités de paiements qui peuvent aller jusqu'à 3 fois sans
            frais.
            Vous pouvez également opter pour le financement « Permis à 1€ par jour ».
            Ce prêt, soumis à conditions, permet de financer votre permis de conduire en tout tranquillité grâce à un
            remboursement mensuel fixe.
        </div>

        <div class="h3"><span class="glyphicon glyphicon-euro green"></span> Financement classique</div>
        <div class="text-justify">
            Afin de faciliter vos paiements, nous vous proposons de payer jusqu'à 3 fois sans frais.
        </div>
        <div class="h3"><span class="glyphicon glyphicon-euro green"></span> Financement à 1€ par jour</div>
        <div class="text-justify">
            Vous avez entre 16 et 25 ans et vous souhaitez financer votre permis de conduire par le financement « Permis
            à 1€ par jour ». Après l' Évaluation de Départ , nous vous établissons un devis . Munis de votre devis, vous
            pouvez demander auprès de votre établissement bancaire un prêt «Permis à 1€ par jour » à taux 0% pour le
            financement de votre permis de conduire. Le montant accordé peut être de 800€ , 1000€ ou de 1200€ , selon
            votre capacité de remboursement. Si votre prêt est accordé, votre établissement bancaire versera directement
            le montant accordé à l'auto école
        </div>
        <div class="h3"><span class="glyphicon glyphicon-euro green"></span> Financement par CPF (Compte personnel de formation)</div>
        <div class="text-justify">
            Le Permis de conduire de la catégorie B est éligible au Compte personnel de formation (CPF). Désormais, vous pouvez mobiliser vos heures de formation pour financer le permis de conduire. Pour en savoir plus, cliquez <a href="https://www.moncompteactivite.gouv.fr">ici</a>
        </div>
    </div>
{% endblock %}

