{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container">
  <div id="header" class="jumbotron">
      <img src="header.jpg" class="img-responsive img-rounded center-block" alt="cer auto ecole fondary"/>
  </div>
{% endblock %}

