{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="line-break"></div>
    <div class="row">
        <div class="h4">Etapes de l'inscription:</div>
        <div class="line-break"></div>
        <span class="glyphicon glyphicon-star green"></span>Arrivée à l'autoécole 	<span class="glyphicon glyphicon-arrow-right green"></span> Une heure d'évaluation de départ avec un enseignant
        <div class="line-break"></div>
        <span class="glyphicon glyphicon-star green"></span>Sélection de la formule la plus adaptée selon votre niveau
        <div class="line-break"></div>
        <span class="glyphicon glyphicon-star green"></span>Finalisation de l'inscription:
        <div class="line-break"></div>
        <ul class="list-group">
            {% set lists = ['Choix de votre formule', 'Signature du cerfa02 (formulaire d\'enregistrement préfectoral)'
            , 'Signature du contrat de formation'
            , 'Paiement de votre forfait'
            , 'Fourniture des outils pédagogiques']
            %}
                {% for list in lists %}
                    <li class="list-group-item"><span class="glyphicon glyphicon-ok green"></span> {{ list }}</li>
                {% endfor %}
        </ul>
    </div>
    <div class="line-break"></div>
    <div class="row">
        <div class="h4">1ere inscription
            <hr class="inscription-type"/>
        </div>
    </div>
    <div class="row">
        <div class="h4">Permis Etranger
            <hr class="inscription-type"/>
        </div>
    </div>
    <div class="row">
        <div class="h4">Reprise de dossier
            <hr class="inscription-type"/>
        </div>
    </div>
    <div class="row">
        <div class="h4">AAC
            <hr class="inscription-type"/>
        </div>
    </div>

{% endblock %}

